<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Library App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="btn btn-primary"
            [ngClass]="{ 'visually-hidden': userService.checkAuthState() }"
            href="/signup"
            >Sign Up</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ 'visually-hidden': !userService.checkAuthState() }"
            href="/bookShelf"
            >Book Shelf</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ 'visually-hidden': !userService.checkAuthState() }"
            href="/addBook"
            >Add new book</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ 'visually-hidden': !userService.checkAuthState() }"
            (click)="userService.toggleLogout()"
            href="/login"
            >Log Out</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
