<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card border-0">
        <div class="card-body p-0">
          <div class="row no-gutters">
            <div class="col-lg-6">
              <div class="p-5">
                <div class="mb-5">
                  <h3 class="h4 font-weight-bold text-theme">Login</h3>
                </div>

                <h6 class="h5 mb-0">Hello there!</h6>
                <p class="text-muted mt-2 mb-5">
                  Enter the following details to make a library account.
                </p>

                <form
                  #form="ngForm"
                  (ngSubmit)="form.valid && onSubmit(form.value)"
                >
                  <div class="form-group">
                    <label for="Full Name">Full Name</label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      required
                      [(ngModel)]="user.name"
                    />
                    <label for="UserEmail">Email address</label>
                    <input
                      type="email"
                      name="email"
                      class="form-control"
                      id="email"
                      required
                      #email="ngModel"
                      [(ngModel)]="user.email"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    />
                    <label
                      class="text-danger"
                      *ngIf="form.submitted && email.errors?.['required'] "
                    >
                      Enter email</label
                    >
                    <label
                      class="text-danger"
                      *ngIf="form.submitted && email.errors?.['pattern']"
                    >
                      Enter a valid email</label
                    >
                  </div>
                  <div class="form-group mb-5">
                    <label for="UserPassword">Password</label>
                    <input
                      name="password"
                      type="password"
                      class="form-control"
                      required
                      #pass="ngModel"
                      [(ngModel)]="user.password"
                      pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                    />
                    <label
                      class="text-danger"
                      *ngIf="form.submitted && pass.errors?.['required'] "
                    >
                      enter password</label
                    >
                    <label
                      class="text-danger"
                      *ngIf="form.submitted && pass.errors?.['pattern']"
                    >
                      enter valid password</label
                    >
                  </div>
                  <button type="submit" class="btn btn-primary">Sign Up</button>
                  <a class="ps-3" href="/login">Already have an account</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
